@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* =====  CSS Variables ===== */
:root {
  /* ===  Colors === */
  /* Primary */
  --white: #ffffff;
  --blue: hsl(246, 80%, 60%);
  --red_light_work: hsl(15, 100%, 70%);
  --blue_soft_play: hsl(195, 74%, 62%);
  --red_light_study: hsl(348, 100%, 68%);
  --lime_green_exercise: hsl(145, 58%, 55%);
  --violet_social: hsl(264, 64%, 52%);
  --orange_soft_self_care: hsl(43, 84%, 65%);

  /* Neutral */
  --blue_very_dark: hsl(226, 43%, 10%);
  --blue_dark: hsl(235, 46%, 20%);
  --desaturated_blue: hsl(235, 45%, 61%);
  --blue_pale: hsl(236, 100%, 87%);

  /* === Base Styles === */
  --round-corner: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--blue_very_dark);
  font-family: "Rubik";
  color: var(--white);
  font-size: 18px;
  padding: 4rem 1rem;
  width: 100vw;
  height: 100vh;
}

#main-container {
  width: 100%;
  max-width: 327px;
  min-height: 100%;
  position: relative;
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
}

.user-card {
  height: 220px;
  width: 100%;
  background-color: var(--blue_dark);
  border-radius: var(--round-corner);
}

.user-info-container {
  background-color: var(--blue);
  border-radius: var(--round-corner);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  width: 100%;
  min-width: 100%;
  height: auto;
}

.user-image {
  width: 78px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  border-radius: 50%;
}

.user-image > img {
  border: 3px solid var(--white);
  border-radius: 50%;
}

.user-info h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.user-info span {
  padding: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--blue_pale);
}

.frequency-container {
  width: 100%;
  height: 70px;

  padding: 26px;
}

.frequency-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.frequency {
  padding-right: 43px;
  text-align: right;
  color: var(--desaturated_blue);
}

.frequency.active {
  color: var(--white);
}

#work {
  background-image: url(../images/icon-work.svg);
  background-color: var(--red_light_work);
}
#play {
  background-image: url(../images/icon-play.svg);
  background-color: var(--blue_soft_play);
}
#study {
  background-image: url(../images/icon-study.svg);
  background-color: var(--red_light_study);
}
#exercise {
  background-image: url(../images/icon-exercise.svg);
  background-color: var(--lime_green_exercise);
}
#social {
  background-image: url(../images/icon-social.svg);
  background-color: var(--violet_social);
}
#self-care {
  background-image: url(../images/icon-self-care.svg);
  background-color: var(--orange_soft_self_care);
}

.activity-card {
  border-radius: var(--round-corner);
  width: 100%;
  height: max-content;
  background-repeat: no-repeat;
  background-position: top right;
  border: 0.01px solid var(--blue_very_dark);
}

.activity-card .box {
  width: 100%;
  height: fit-content;
  margin-top: 38px;
  margin-bottom: 0;
  padding: 28px 24px;
  background: var(--blue_dark);
  border-radius: 15px;
  color: var(--white);
  text-align: center;
}

.activity-card .title {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  opacity: 1;
}

.activity-card .title h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.activity-card .time h3 {
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 0;
  font-weight: 300;
  color: var(--white);
}

.activity-card .time {
  padding-top: 6px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-card span {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--blue_pale);
}

footer {
  padding: 1.2rem;
  position: relative;
  bottom: 0;
  left: 0;
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }

  #main-container {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    max-width: 1000px;
    min-height: auto;
    margin-top: 1rem;
  }

  .user-card {
    grid-row-start: 1;
    grid-row-end: -5;
    height: 518px;
  }

  .user-info-container {
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 350px;
    padding: 37px 84px 80px 32px;
  }

  .user-info h1 {
    font-size: 40px;
    line-height: 47px;
  }

  .user-info span {
    padding: 43px auto 3px auto;
  }

  .frequency-container {
    width: 68px;
    height: 106px;
    padding: 26px 155px 10px 32px;
  }

  .frequency-container ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .frequency {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 21px;
  }

  .activity-card .box {
    width: 255px;
    height: 199px;
    text-align: left;
    margin-top: 45px;
    padding: 0;
  }

  .activity-card .title {
    padding: 29px 35px 24px 30px;
  }

  .activity-card .time {
    display: block;
    padding-left: 32px;
  }

  .activity-card .time h3 {
    font-size: 56px;
    line-height: 66px;
    padding-bottom: 8px;
  }
}
